html, body {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.main-container {
  padding: 20px;
  overflow: visible;
  min-height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.content-container:not(.no-margin) > * {
  margin-top: 10px;
}

hr {
  height: initial;
  border: var(--bs-secondary) 1px solid;
  margin: 10px 0;
}

#elements {
  overflow-y: auto;
}

#messageHistory {
  height: 0px;
  /* background-color: rgba(27, 162, 246, 0.1); */
  background-color: rgba(234, 57, 184, 0.1);
  /* background-color: rgba(255, 0, 0, 0.1); */
  overflow-y: auto;
}

.text-secondary-extra {
  font-weight: bold;
}

input, textarea {
  border-radius: 15px;
  padding: 0 10px;
  border-color: var(--bs-secondary);
  border-width: 1.5px;
}

.button-container > *:not(:last-child) {
  margin-right: 10px;
}

pre {
  margin: 0;
}